.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}


.App-title {
  font-size: 1.5em;
}

.App-intro {
  height: 100%;
  width:100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: large;
}

.App-intro > div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
