@font-face {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

@font-face {
    font-family: GillSansMTProCyr;
    src: url(./assets/GillSansMTProCyr-Light.otf);
}

@font-face {
    font-family: GillSansMTProCyr;
    src: url(./assets/GillSansMTProCyr-Light.otf);
}

body {
    margin: 0;
    padding: 0;
    font-family: GillSansMTProCyr, "Helvetica Neue", sans-serif;
}

.App-header {
    padding: 1.5vw 1.8vw;
    position: absolute;
    width: calc(100% - 3.6vw);
    top: 0;
    height: 5vw;
    left: 0;
    z-index: 999;
    background-color: transparent;
    color: rgba(255, 255, 255, .9);
    display: flex;
    align-items: center;
}

.logo {
    width: 4.95vw;
    height: 4.95vw;
    display: block;
    z-index: 9;
    position: relative;
}

.logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header nav {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 8;
}

header nav > ul {
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

header nav > ul > li {
    display: inline-block;
    margin: 0 2.4vw;
    position: relative;
    cursor: pointer;
}

li {
    list-style-type: none
}



header nav > ul > li > a {
    color: #fff;
    padding: .65vw 0vw;
    position: relative;
    z-index: 5;
    display: block;
}

header nav > ul > li > a span {
    position: relative;
    display: inline-block;
    padding-top: 1px;
    -webkit-transition: color .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


header nav > ul > li > a .line {
    background: #fff;
    width: 98%;
    height: 1px;
    position: absolute;
    bottom: .4vw;
    left: 0;
    -webkit-transition: -webkit-transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
}

header nav > ul > li.active > a .line {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

header nav > ul > li > a:hover .line {
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

.video-wrap {
    position: relative;
    width: 100%;
    overflow: hidden;
}
